aiohttp
beautifulsoup4
certifi
camelot-py[cv]
chromadb
langchain
langchain-community
langchain-huggingface
langchain-chroma
langchain-text-splitters
numpy
opencv-python
pdf2image
pdfplumber
pillow
pytesseract
requests
sentence-transformers
streamlit
